*{
  margin: 0;
  padding: 0;
}


.App{
  height: 100vh;

}

header{
  width: 100vw;
  height: 60px;
  border-bottom: 2px solid white;;


}

header .nav{
  display: flex;
  justify-content: space-evenly;
  padding:15px;
}
li{
  
  list-style: none;
}
a{
  text-decoration: none;
}
li .navLetter{
 
  font-size: 24px;
  color: white;
}

